.validation-error{
    -fx-border-color:red;
}

.check-box > .box {
    -fx-padding: 2.75px;
}

.check-box > .box > .mark {
    -fx-padding: 4px;
}

.edit-button {

}

.edit-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.edit-button:hover {
    -fx-opacity: 1;
}

.log-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.log-button:hover {
    -fx-opacity: 1;
}

.stats-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.stats-button:hover {
    -fx-opacity: 1;
}

.remove-button {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.remove-button:hover {
    -fx-opacity: 1;
}