.validation-error{
    -fx-border-color:red;
}

.check-box > .box {
    -fx-padding: 2.75px;
}

.check-box > .box > .mark {
    -fx-padding: 4px;
}

.interactive-menu-button{
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.interactive-menu-button:hover{
    -fx-background-color: transparent;
    -fx-opacity: 1;
}