<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:mydb.db</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="Healthcheck.Entities.Logs.SwapLog"/>
        <mapping class="Healthcheck.Entities.Logs.CpuLog"/>
        <mapping class="Healthcheck.Entities.Logs.RamLog"/>
        <mapping class="Healthcheck.Entities.Logs.ProcessLog"/>
        <mapping class="Healthcheck.Entities.Logs.DiskLog"/>
        <mapping class="Healthcheck.Entities.Logs.UserLog"/>
        <mapping class="Healthcheck.Entities.Preference"/>
        <mapping class="Healthcheck.Entities.Computer"/>
        <mapping class="Healthcheck.Entities.SshConfig"/>
    </session-factory>
</hibernate-configuration>